@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


.name {
    font-size: 24px;
    font-weight: 600;
}

.tag {
 padding: 4px 8px;
 border: 1px solid gray;
 border-radius: 50px;
 font-weight: 600;
 font-size:12px;
 color:#6DD5FA;
 background-color: white;
}
.btn{
border: none;
outline: none;
padding: 30px 50px;
background-color: white;
cursor: pointer;
}

.active, .btn:hover {
    background-color:#eaafc8;
    color: black;
}

.info{
    font-family: 'Montserrat', sans-serif;
}

.col-4 {
    background-color:#FBFCFF;
    border-radius: 5px;
}

.avatar {
padding-right: 70%;
padding-top: 6%;
}

.header {
    display:flex;
}
.bnt-header {
    flex-direction: row-reverse;
    padding-left:25%;
    padding-top: 50px;
}

.search{
  padding: 20px;
  margin-top: 20px;
}

.heade-user{
  padding-left: 16%;
}